---
import Greating from "../components/Greating.svelte";
import PlaylistItemCard from "../components/PlaylistItemCard.astro";
import Layout from "../layouts/Layout.astro";
import { playlists } from "../lib/data";
---

<Layout title='Spotify Clone'>
	<div
		id='playlist-container'
		class='relative transition-all duration-1000 bg-[#1b0e12]'
	>
		<!-- PAGE HEADER -->

		<div class='relative flex flex-col items-center z-10 px-2 pt-10'>
			<div class="px-7 w-full">
				<Greating />
			</div>
			<div class='flex flex-wrap'>
				{playlists.map((playlist) => <PlaylistItemCard playlist={playlist} />)}
			</div>
		</div>

		<div class='absolute inset-0 bg-gradient-to-t from-zinc-900 to-zin-900/80'>
		</div>
	</div>
</Layout>

<style></style>
