---
/* · COMPONENTS ·  */
import SideMenuItem from "./SideMenuItem.astro";
import SideMenuCard from "./SideMenuCard.astro";
import ButtonSide from "./ButtonSide.astro";
import ButtonSelectionSide from "./ButtonSelectionSide.astro";

/* · ICONS · */
import Library from "../icons/Library.astro";
import Home from "../icons/Home.astro";
import Plus from "../icons/Plus.astro";
import ArrowRight from "../icons/ArrowRight.astro";
import Search from "../icons/Search.astro";
import Hamburger from "../icons/Hamburger.astro";

/* · DATA · */
import { playlists } from "../lib/data";
import Right from "../icons/Right.astro";
---

<nav class='flex flex-col flex-1 gap-2'>
	<div class='bg-[#121212] rounded-lg p-1'>
		<ul>
			<SideMenuItem href='/'>
				<Home />
				Inicio
			</SideMenuItem>

			<SideMenuItem href='/#'>
				<Search />
				Buscar
			</SideMenuItem>
		</ul>
	</div>

	<div class='bg-[#121212] rounded-lg p-1 flex-1'>
		<ul class='relative'>
			<div class='flex justify-between'>
				<li
					class='flex gap-5 text-zinc-400 fill-zinc-400 hover:text-zinc-100 hover:fill-zinc-100 items-center py-3 px-5 font-medium transition duration-300'
				>
					<Library />
					Tu Biblioteca
				</li>

				<ul class='flex gap-2 items-center px-3'>
					<ButtonSide>
						<Plus />
					</ButtonSide>

					<ButtonSide>
						<ArrowRight />
					</ButtonSide>
				</ul>
			</div>

			<div class='flex items-center h-12 gap-2 pl-4 mascara'>
				<ButtonSelectionSide> Listas </ButtonSelectionSide>
				<ButtonSelectionSide> Artistas </ButtonSelectionSide>
				<ButtonSelectionSide> Albunes </ButtonSelectionSide>
				<ButtonSelectionSide> Podcasts & Shows </ButtonSelectionSide>
			</div>
			<div
				class='w-8 h-8 flex items-center justify-center bg-[#353535] fill-white rounded-full absolute right-3 hover:bg-[#404040] cursor-pointer z-10 top-14'
			>
				<Right />
				<div></div>
			</div>

			<ul class='flex flex-1 justify-between mr-[10px] px-2'>
				<li class='rounded-full flex items-center'>
					<button
						class='flex w-12 h-12 rounded-full scale-75 hover:bg-zinc-800 fill-zinc-400 hover:fill-zinc-300 items-center justify-center font-medium transition duration-300 relative'
					>
						<Search/>
						<button></button>
					</button>

					<li
						class='fill-zinc-400 flex gap-3 items-center text-sm text-zinc-400 hover:text-zinc-100 hover:fill-zinc-200 tansition ease-linear duration-200 hover:scale-105'
					>
						Recientes
						<Hamburger />
					</li>
				</li>
			</ul>

			{playlists.map((playlist) => <SideMenuCard playlist={playlist} />)}
		</ul>
	</div>
</nav>


<style>
	.mascara {
		mask-image: linear-gradient(90deg, #000 calc(100% - 120px), transparent);
	}
</style>
