
<li class="flex justify-center align-middle w-8 h-8 rounded-full bg-[#121212] hover:bg-[#191920] transition duration-300 ">
  <div 
    class="flex text-zinc-400 fill-zinc-400 hover:text-zinc-100 hover:fill-zinc-100 items-center font-medium transition duration-300"
    >
    <slot/>
  </>
</li>